<div id="container">


    <div style="text-align: center; color:black;">
      <h1>{{title}}</h1>
      </div>
    
    <div id="affiche">
      
      <audio src="assets/bruitage/Overworld.mp3" autoplay></audio>
    
      <div>
        <h1>Round : 0 </h1>

        <table >
            <tr>
                <td> Nom : </td>
                <td> {{name}}</td>
                <td colspan="1"> </td>
                <td> Nom : </td>
                <td> {{Ennemy_name}}</td>
            </tr>
            <tr>
                
                <td> Pv : </td>
                <td> {{Pv}}</td>
                <td colspan="1"> </td>
                <td> Pv : </td>
                <td> {{Ennemy_Pv}}</td>
            </tr>

            <tr>
                
                <td> Attaque : </td>
                <td> {{attack}}</td>
                <td colspan="1"> </td>
                <td> Attaque : </td>
                <td> {{Ennemy_attack}}</td>
            </tr>

            <tr>
              <td colspan="2"><img class="p1" src="{{image}}"></td>
              <td colspan="1"> <img class="animation_asset" src="assets/attack_lumière.PNG"></td>
              <td colspan="2"> <img class="p2" src="{{Ennemy_image}}"> <img class="animation_asset" src="assets/exposion2.PNG"></td>

            </tr>
          </table>
       
        
            

            <button type="button" class="command_attack" (click)="Attack(attack);">Attack</button>
        <button type="button" class="command_attack_sp" (click)="Attack_sp(sp);">Attack sp</button>

      </div>
      
      
      
      
      
      

    
    </div>
    
    
    
    
    </div>

