<div>

    <audio src="assets/bruitage/SF-Alarmradar.mp3" autoplay></audio>
    <h1 style="text-align: center;">{{title}}</h1>

<div style="text-align: center;"> <img class="p1" src="{{Characters[numid].image}}">
</div>

<div>

<div style="display: none;">{{numid}} </div>
<table>


<tr> 

    <td> Nom : </td>
    <td> {{Characters[numid].name}}</td>

    </tr>

    <tr> 

        <td> Pv : </td>
        <td> {{Characters[numid].pv}}</td>
    
        </tr>

        <tr> 

            <td> Attaque : </td>
            <td> {{Characters[numid].attack}}</td>
        
            </tr>



</table>

<button type="button" class="play_commands" (click)="start();">Début de combat</button>
</div>

<router-outlet></router-outlet>

</div>
