<section id="container">


  <div style="text-align: center; color: red;">
    <h1>{{title}}</h1>
    </div>
  
  <div id="affiche">
    
  
    <img src="assets/anim3.PNG" id="a"/>
    
    <img class="animation_asset" src="assets/anim0.PNG">
    <img class="animation_asset" src="assets/anim1.PNG">
    <img class="animation_asset" src="assets/anim2.PNG">
    
  
  </div>
  
  <button type="button" class="play_commands" title="Commencer une nouvelle partie" (click)="begin();">Commencer</button>
  
  
  </section>

  <router-outlet></router-outlet>

